@model RxFair.Dto.Dtos.RxFairHomePageModel
@{
    ViewData["Title"] = "Home";
}
<!-- About Section Start -->
<section class="about_sec">
    <div class="container">
        <div class="row">
            <div class="about_text">
                <div>
                    <h3>About ShopRx</h3>
                    <div class="scroll_image">
                        <img src="~/rxfairfrontend/images/scroll.png" alt="scroll">
                    </div>
                    <p>
                        At Shoprx we are committed to delivery the highest level of customer care while offering the lowest prices available. We take pride in giving you a rewarding online experience. When you save time and money then we all accomplished our goals.

                    </p>
                    <p>
                        If you haven't done so already...
                        Please give us a try
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!------------- Cover Start ---------------->
<div class="main_slider owl-carousel owl-theme">
    <div class="main-cover">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-cover-text">
                        <div>
                            <h3>
                                We Provide Total
                            </h3>
                            <h1>
                                ShopRx Solution
                            </h1>
                            <p>
                                ShopRx is a platform serving independent pharmacies across the nation to shop for discounted pharmacy products. We work with accredited wholesalers and distributors to provide the most exclusive competitive pricing on brand, over-the-counter and generic medications. Our mission is to provide independent pharmacies fair pricing from wholesalers, saving money and having a fair advantage against the conglomerates.
                                ShopRx maximizes your profit and increases your bottom line while saving time and effort. We are a team of experienced pharmacy professionals; we totally understand the headaches and issues all pharmacies encounter on a daily basis, let ShopRx help you today!
                            </p>
                            <button type="button" class="btn btn-outline-primary con_btn  LearnMore">Learn More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-cover cover-two">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-cover-text">
                        <div>
                            <h3>
                                We Provide Total
                            </h3>
                            <h1>
                                ShopRx Solution
                            </h1>
                            <p>
                                Working together as an interdisciplinary team, many highly trained health professionals besides medical practitioners are involved in modern health care .
                                Working together as an interdisciplinary team, many highly trained health professionals besides medical practitioners are involved in modern health care .
                            </p>
                            <button type="button" class="btn btn-outline-primary con_btn  LearnMore">Learn More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cover End -->
<!-- Information Section Start -->
<section class="info_sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="info_text">
                <h2>
                    Why Shoprx?
                </h2>
                <p>
                    - Free for pharmacies -
                </p>
                <p>
                    - Reward Program -
                </p>
                <p>
                    - Best price ordering and Po matching -
                </p>
                <p>
                    - Deals of the day special -
                </p>
                <p>
                    - Short date purchasing and Inventory -
                </p>
                <p>
                    - Fast,secure technology -
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Information Section End -->

@section Scripts{
    <script type="text/javascript">
        var videoPlayer = document.getElementById('shoprxvideo');
        // Play / pause.
        videoPlayer.onplay = function () {
            $(".img-logo").hide();
        };

        var unSubscribeEmail = "@(Model.EmailUnSubscribe?.Email??"")";
        $(document).ready(function () {
            IsEmailUnSubscribe(unSubscribeEmail);
        });
        $("#btn").click(function () {
            const email = $.trim($("#email-signup").val());
            if (email == "") {
                $('#frmSubscribe').parsley().validate();
            }
            else if (IsEmail(email) == false) {
                RxFair.Error("Error", "Please enter valid email");
                return false;
            }
            else {
                $.ajax({
                    url: "@Url.Action("EmailSubscription", "Home")",
                    type: "POST",
                    data: { email: email },
                    success: function(response) {
                        RxFair.HandleResponse(response);
                    },
                    error: function(data) {}
                });
            }
        });

        $(".LearnMore").on("click", function redirectAcountus() {
            window.location.href = "/Home/AboutUs";
        });


        function IsEmail(email) {
            const regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;;
            //const x = /^[A-Z@@~`!@@##$%^&*()_=+\\\\';:\"\\/?>.<,-]*$/;
            if(!regex.test(email)) {
                return false;
            }else {
                return true;
            }
        }

        function IsEmailUnSubscribe(email) {
            if (email !== "" && email != undefined) {
                RxFair.Confirm("Are you sure you want to unsubscribe ?", RxFair.typeModel.Warning, "", RxFair.typeModel.Danger, "Yes, unsubscribe", function () {
                        EmailUnSubscribe(email, true);
                    }, function() {
                        EmailUnSubscribe(email, false);
                    }
                );
                RxFair.SwapModalButtons();
            }
        }
        function EmailUnSubscribe(email,flag) {
            $.ajax({
                url: "/Home/UnSubscribeEmail/",
                data: { email: email, flag: flag },
                type: "POST",
                success: function (response) {
                    RxFair.HandleResponse(response);
                },
                error: function (data) {}
            });
        }
    </script>
}