<?xml version="1.0" encoding="utf-8" ?>
<!-- Standard Library -->
<configuration>
  <appSettings>
    <add key="PhysicalUrl" value="http://localhost" />
    <add key="BasePath" value="C:\Users\Administrator\source\repos\ShopRx\RxFair\bin\Release\netcoreapp2.2\publish\wwwroot\EmailTemplate"/>
    <add key="LogFilePrefix" value="output" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ScheduledMonthlyDay" value="17"/>
    <add key="ScheduledDailyTime" value="10:30:00"/>
    <add key="ScheduledMonthlyTime" value="16:00:00"/>
    <add key="LogFilePrefix" value="output"/>
    <add key="SqlServerName" value="rxfair.cc9t5h9dsiyb.us-east-2.rds.amazonaws.com,1433"/>
    <add key="SqlDbaseName" value="RxFair"/>
    <add key="SqlLoginName" value="RxFair"/>
    <add key="SqlPassword" value="rN7MHh8c"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString ="Data Source=rxfair.cc9t5h9dsiyb.us-east-2.rds.amazonaws.com,1433;Initial Catalog=RxFair;User Id=admin;Password=rN7MHh8c;" />
  </connectionStrings>
</configuration>